html{
  box-sizing: border-box;
  font-family: 'Roboto+Condensed', sans-serif;
 	background-color: #f1f1f1;
 	color: rgba(0,0,0,0.8);
 		font-size: 16px;

}

.left {
	float: left;
}
.right {
	float: right;
}


textarea {
		font-size: 16px;

}
label {
	display:block;
}
.pm {
	font-style: italic;
} 
.agile {
		color: #128ee9;
}
.logo{
	margin-left: 40px;
}
.clearfix {
  overflow: auto;
}
p {
	color: #707070;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
   margin: 0px; 
}
#body{
	margin-top: 60px ;
}
.clear {
	clear: both;
}
#menu {
	position: fixed;
	top: 60px;
	display: none;
}

.padding_right {
	padding-right: 200px;
}

.padding_right_nav {
	float: right;
	padding-right: 20px;
}
nav {

	height: 60px;
	padding: 0;
	margin: 0;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
	position: fixed;
	top: 0px;
	width: 100%;
}


#hamburger {
	float: left;
	padding: 20px 20px;
}
/*#details_container{
	padding-bottom: 100px;
}*/
#header {
	float: left;
	padding-right: 35px;
}

#search_input{
	height: 40px;
	float: left;
	margin: 0 0 0 0;

}

#main_aside {
	max-width: 400px;
	margin-right: 140px;
}


#create {
	float: left;
	padding-top: 10px;
	padding-right: 50px;
	margin-top: 10px;

}

#account {
padding-top: 2px;
	float: right;
}

#account > ul > li {
    display: inline;
	list-style-type: none;
	padding: 0 10px;
}

#account > ul > li > i {
	padding-right: 6px;
	font-size: 20px;
	padding-top: 3px;
	cursor: pointer;
}
#create_btn {
	cursor: pointer;
	    color: white;
    border: 0;
    background-color: #128ee9;
}

#request_btn {
	max-width: 200px;
	cursor: pointer;
	    color: white;
    border: 0;
    background-color: #128ee9;
    margin: 0 auto;
}
form {
	padding:0;
	margin: 0;
}
.action_btn {
	margin-left: 100px;
	cursor: pointer;
}
.btn {
	height: 40px;
	width: 100px;
	margin: 0 20px 0 0;
	background-color: #f1f1f1;
	padding: 0;
	border: solid 1px #ccc; 
	cursor: pointer;
		font-size: 16px;


}

#request_link {
	text-decoration: none;
}
aside {
	border-top: solid 1px #f1f1f1; 
	margin-top: 0;
	background-color: white;
	max-width: 218px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding: 0px 0 20px 0;
	height: 100%;
}
aside > ul
{
		margin-right: 10px;

    list-style-type: none;
    padding: 0 0 0 15px;
}

aside > ul > li {
	cursor: pointer;
	padding: 10px 5px;

}
aside > ul > li:hover {
	background-color: #128ee9;
	color:white;
}
aside > ul > li > i {
	padding-right: 5px;
}
#hamburger {
	cursor: pointer;
}
#main_body {
	margin-top:60px;
	width:60%;
}

#peopleAndDates {
	width: 39%;
	margin-top:60px;
	float:left;
}


#request_body {
	margin: 70px auto;
	width: 60%;
}



.standard_box {
	margin: 10px 5px;
	padding: 10px 10px 10px 20px;

	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);

}

.project_request_input {
	width: 95%;
	margin: 10px 0 20px 0;
	padding: 10px 0;
	font-size: 16px;
}
h2 {
	margin-bottom: 50px;
}
#actions .btn {
	font-size: 16px;
}

form {
	font-size: 20px;
}

#commentInput {
	width: 80%;
	height: 50px;
	float: left;
}
#comment_btn {
	margin: 10px 0;
	clear: both;
}

#edit_description{
	display:none;
}

#descriptionInput {
/*		max-width: 700px;*/
		min-height: 200px;
}
#view_description{
	font-style: italic;
}
#update_btn {
	margin: 3px 0;
}
#comments-box {
	clear: both;
}

#container {
	margin:0;
	padding:0;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 600px) {
	#search {
		display: none;
	}
	#create_btn {
		display: none;
	}
	#actions .btn {
		width: 100%;
		margin: 3px 0;
	}

	#comment_btn {
		width: 100%;
	}

	#commentInput {
		width: 100%;
	}

	#update_btn {
			width: 100%;
		margin: 3px 0;
	}

	.left {
		float: none;
	}
	.right{
		float:none;
	}

	#peopleAndDates {
    width: 39%;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    float: none;
	}
	#main_body {
		margin-top:70px;
		width: 100%;
	}
	#comments-box {
		margin-right: 10px;
		margin-top:10px;
		width: 100%;
	} 

	.standard_box {
		margin: 10px 
	}

	#header {
		padding-right: 25px;
	}


}



@media only screen and (min-width : 600px) and (max-width : 800px) {
	#search-btn, #search_input {
		display:none;
	}

	#search {
		margin-top:10px;

	}
	
	#header {
		padding-right: 0px;
	}
	.left {
		float: none;
	}
	.right{
		float:none;
	}
		#peopleAndDates {
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
	}
		#main_body {
/*		margin-left: 10px;
*/		margin-top:70px;
		width: 90%;
	}
		#comments-box {
				margin-left: 10px;
		margin-top:10px;
		width: 100%;
	} 
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 800px) {
	#search {
		margin-top:10px;

	}
	#request-link{
		float: left;
	}
	#search_input {
		min-width: 150px;
	}

}
@media only screen and (min-width : 1080px) {
	#search {
		margin-top:10px;

	}
	#request-link{
		float: left;
	}
	#search_input {
		min-width: 400px;
	}
	#main_body {
		margin-left: 10px;
		margin-top:60px;
		
	}
	#comments-box {
		margin-top:10px;
		width:77.5%;
		margin: 0 auto;

	} 

	#container {
		width:79%;
		margin: 0 auto;
	}

}

